<script type="text/javascript">
$('input[id=vmimage_file]').change(function() {
$('#file').val($(this).val());
});
</script>

<%= form_for @vmimage, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :osname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :osname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :osversion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :osversion, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_list, "Tags (separated by \",\")", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file,"VMimage-file"  ,:class => 'control-label'%>
    <div class="controls">
      <div class="input-append">
	<input id="file" class="input-large" type="text">
	<a class="btn" onclick="$('input[id=vmimage_file]').click();">Browse</a>
      </div>
      <%= f.file_field :file ,:class => 'file_field',:title=>"Search for a file to add",:style=>"display:none" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vmimages_path, :class => 'btn' %>
  </div>
<% end %>
