<h1>Saerch vmimage</h1>
    
<%= search_form_for @q do |f| %>
  <div class="control-group">
    <%= f.label :osname_cont %>
    <div class="controls">
      <%= f.select :osname_eq, Vmimage.select(:osname).uniq.map{|st| [st.osname,st.osname]} %>


    </div>
  </div>

  <div class="control-group">
    <%= f.label :osversion_cont %>
    <div class="controls">
      <%= f.select :osversion_eq, Vmimage.select(:osversion).uniq.map{|st| [st.osversion,st.osversion]} %>
      
    </div>
  </div>
  <div class="field">
    <%= f.label :"Tags (separated by commas)" %>
    <%= text_field_tag 'tag' %>
  </div>
  
  <%= f.submit %>
  <% end %>
