<h1>Saerch vmimage</h1>
    
<%= search_form_for @q do |f| %>
  <div class="control-group">
    <%= f.label :osname_cont %>
    <div class="controls">
      <%= f.select :osname_eq, Vmimage.all.map{|st| [st.osname,st.osname]} %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :osversion_cont %>
    <div class="controls">
      <%= f.select :osversion_eq, Vmimage.all.map{|st| [st.osversion,st.osversion]} %>

    </div>
  </div>


  <%= f.submit %>
<% end %>
