<h1>Saerch vmimage</h1>
    
<%= search_form_for @q do |f| %>
  <div class="control-group">
    <%= f.label :osname_cont %>
    <div class="controls">
      <%= f.text_field :osname_cont %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :osversion_cont %>
    <div class="controls">
      <%= f.text_field :osversion_cont %>
    </div>
  </div>


  <%= f.submit %>
<% end %>
