<p id="notice"><%= notice %></p>

<p>
  <strong>Osname:</strong>
  <%= @vmimage.osname %>
</p>

<p>
  <strong>Osversion:</strong>
  <%= @vmimage.osversion %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @vmimage.tag_list %>
</p>

<%= link_to 'Edit', edit_vmimage_path(@vmimage) %> |
<%= link_to 'Back', vmimages_path %>
