<%- model_class = Vmimage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:osname) %>:</strong></dt>
  <dd><%= @vmimage.osname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:osversion) %>:</strong></dt>
  <dd><%= @vmimage.osversion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tag) %>:</strong></dt>
        <dd><%= @vmimage.tag_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Imagefile) %>:</strong></dt>
  <dd><%= link_to t('.DownLoad', :default => t("helpers.links.download")),
  download_vmimage_path(@vmimage), :class => 'btn btn-mini' %></dd>       

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vmimages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vmimage_path(@vmimage), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vmimage_path(@vmimage),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
